.card-container {
	display: flex;
	flex-direction: column;
	width: 17rem;
	height: 20rem;
	align-items: center;
	justify-content: center;
	background: rgb(64, 137, 247);
	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;
	cursor: pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.card-container img {
	width: 180px;
	height: 180px;
}

.card-container h1 {
	font-size: 22px;
	margin-bottom: 0;
	color: rgb(0, 0, 0, 1);
}

.card-container h2 {
	font-size: 20px;
	color: rgb(0, 0, 0, 0.7);
}

.card-container:hover {
	transform: scale(1.05);
}
