@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
	background: #3e90a8;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
	width: 12px;
	border-radius: 10px;
}

#Heading {
	font-family: 'Calligraffitti', cursive;
	letter-spacing: 0.2em;
	font-weight: 700;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
}
